  body {
    margin: 0;
  }
  @keyframes fadeIn {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
  }
  #d {
    transform-origin: center center;
    background-color: gainsboro;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;

  }
  svg path, text {
    cursor: pointer;
  }
  svg #c{
    transform-origin: center center;
    background-color: gainsboro;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
#c:hover {
  animation-play-state: running;
  fill: red;
}
  .box {
    background-color: rebeccapurple;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }
  .box:hover {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }